<% include ../partials/header%>
<p style="color:red">
	You can apply for only one contest.
	You can re-apply after your contest ends.
</p>
<div style="background-color:yellow;">
	contest name: <%=contest.contest_name%><br>
	contest Start Date: <%=contest.start_date%><br>
	contest Start time: <%=contest.start_time%><br>
	contest End Date: <%=contest.end_date%><br>
	contest End time: <%=contest.end_time%><br>
	contest Description: <%=contest.details%>
</div>

<% include ../partials/footer%>
