<%include ../partials/header%>
<h5>
	contest Name:<%=contest_name%>
	contest Start Time:<%=start_time%>
	contest End Time:<%=end_time%>
	contest id: <%=contest_id%>
</h5>
<%var i=0%>
<form action="/contest/sumbit/<%=currentUser.username%>/<%=contest_id%>/<%=number%>" method="post">
<%contest_questions.forEach(function(questions){%>
	<strong>Question <%=i+1%>: <%=questions.question%></strong><br>
    A: <%=questions.optionA%><br>
	B: <%=questions.optionB%><br>
	C: <%=questions.optionC%><br>
	D: <%=questions.optionD%><br>
your answer: <select name="ans<%=i++%>">
<option value="A">A</option>
	<option value="B">B</option>
	<option value="C">C</option>
	<option value="D">D</option>
</select>
	<br>
<%})%>
	<button>
		Submit
	</button>
</form>

<%include ../partials/footer%>